<!..home page style..>

.indexbody
{
    background-image: url("./bac.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	
}
<!...form style..>
.formbody
{
   background-image: url("background.jpg");
   background-repeat: no-repeat;
   background-size: cover;


}
<!...moving the text in marquee tag..>
marquee{

	color: whitesmoke;
    margin: 220px 0px;
    text-shadow: 5px 5px blue;
    z-index: -1;
    
}
<!...header style...>
.head
{
	text-align: center;
	color: whitesmoke;
	background-image: linear-gradient(to left,red,blue);
	padding: 10px;
	border-radius: 30px;
	position: relative;

}
.head h1
{
	text-shadow: 5px 5px green;
}
.menu a
{
	color: whitesmoke;
	padding: 5px;
    text-decoration: none;
    
    
        
	}
.menu
{
	text-align: left;
	
	
}	
nav
{
	position: sticky;
	top: 5px;
}
.menu a:hover
{
	background-color: orange;
	color: black;
	border: 1px solid orange;
	border-radius: 10px;
	font-style: italic;
}

.form
{
	color: orange;
	margin: 8%;
	width: 50%;
	padding: 40px;
    border: 1px solid orange;
    border-radius: 50px;
    background-image: url(background.jpg);
}
.form h2
{
	color: yellowgreen;

}
form,label
{
	padding: 10px;
}
label
{
	padding-bottom: 20px;
	margin-bottom: 10px;
}
input
{
	margin: 5px;
}
button{
     color: black;
	padding: 5px;
	margin: 10px;
	background-color: orange;
	border: 1px solid black;
	border-radius: 20px;
}
button:hover
{
	background-color: green;
	color: whitesmoke;
    

}
.footer
{

	color: black;
	border: 2px dashed black;
    background-image: linear-gradient(to left,yellowgreen,whitesmoke);
    clear: both;

}
.login a
{
   color: black;
   padding: 5px;
   display: inline-block;
}
.login{
     background-image: linear-gradient(to left,yellowgreen,whitesmoke);
     position: absolute;
     display: none;
}
.link:hover .login
{
	padding: 10px;
	display: block;
}

.web
{
	
	width: 300px;
	border: 1px solid black;
	margin: 10px;
    box-shadow: 5px 5px black;
    margin-right: 50px;
    float: left;
    


}
img{
   width: 200px;
   margin: 10px;
   margin-left: 50px;
}
.course
{
	border: 1px solid whitesmoke;
	
	
}

<!...Paragraph style...>
#webpara
{
	border: 1px solid black;
	padding: 5px;
	color: orange;
	padding: 5px;
}
